:root {
	--main-color: #222;
	--border-color: #777;
	--bg-color: #fff;
	--link-color: #04b;
	--option-color: #080;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	font-family: "Courier New", Monospaced, monospace;
	font-size: 15px;

	box-sizing: border-box;
	margin: 0;
	text-align: center;
	color: var(--main-color);
	background-color: var(--bg-color);
}

/* Vertical flexbox setup that makes overflowing flex elements render correctly */
.overflow-wrapper {
	display: flex;
	flex-flow: column nowrap;
}

.overflow-wrapper > .flex-overflow {
	flex: 1 0 0; /* flex-basis must be 0 or content will overflow incorrectly */
	overflow: auto; /* overflow-y must also be one of auto, scroll, or hidden */
	word-break: break-word; /* Stops extremely long words from horizontally stretching flexbox */
}
