:root {
  --main-color: #222;
  --border-color: #666;
  --bg-color: #fff;
  --link-color: #04b;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;

  background-color: var(--bg-color);
  color: var(--main-color);
  text-align: center;
  font-family: "Courier New", Monospaced, monospace;
  font-size: 15px;
}

label {
  display: block;
}
